<header>
  <div class="container">
    <nav>
      <div class="logo-container">
        <a href="#" class="logo">Mini Blog</a>
        <i class="fa-solid fa-bars"></i>
      </div>

      <!-- MENUS -->
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Tech</a></li>
        <li><a href="#">Entertainment</a></li>
        <li><a href="#">Travel</a></li>
        <li><a href="#">Sport</a></li>
      </ul>
    </nav>
  </div>
</header>
