<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <%- include('./partials/nav.ejs') %>

    <main>
      <div class="container">
        <section class="hero-section">
          <!-- GRID 1 -->
          <div class="grid-item">
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing.</h2>
            <span>June 1, 2024</span>
          </div>
          <!-- GRID 2 -->
          <div class="grid-item">
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing.</h2>
            <span>June 1, 2024</span>
          </div>
          <!-- GRID 3 -->
          <div class="grid-item">
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing.</h2>
            <span>June 1, 2024</span>
          </div>
          <!-- GRID 4 -->
          <div class="grid-item">
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing.</h2>
            <span>June 1, 2024</span>
          </div>
          <!-- GRID 5 -->
          <div class="grid-item">
            <h2>Lorem ipsum dolor sit, amet consectetur adipisicing.</h2>
            <span>June 1, 2024</span>
          </div>
        </section>
      </div>
    </main>

    <script src="./script.js"></script>
  </body>
</html>
