<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <main>
      <section class="product-container">
        <% if(products.length>0){ %> <% products.forEach((product)=>{ %>
        <div class="card-container">
          <div class="card">
            <img src="<%=product.image %>" alt="" />
            <div class="product-name">
              <h4><%= product.name %></h4>
              <h4>$<%= product.price %></h4>
            </div>
          </div>
        </div>
        <% }) %> <% }else{ %>
        <h1>No products found</h1>
        <% } %>
      </section>
    </main>
  </body>
</html>
